# Ignore virtual environment
myenv/
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Frontend junk
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env*

# Django junk
*.sqlite3
backend/staticfiles/
backend/media/
backend/logs/

# Windows junk
Thumbs.db
.DS_Store
*.log

# Editor junk
.vscode/
.idea/